////
/// Gutters
/// @group core-utilities
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (gutters) are generated.
/// @type Boolean
$sl-generate-gutters: $sl-generate !default;


// Asserts
// -------

@include sl-assert($sl-generate-gutters, 'bool');


// Styles
// ------

@if $sl-generate-gutters {

	@each $gutter-name, $gutter-value in map-merge($sl-gutters, ('none': 0)) {
		$gutter-top: sl-shorthand($gutter-value, top);
		$gutter-bottom: sl-shorthand($gutter-value, bottom);
		$gutter-left: sl-shorthand($gutter-value, left);
		$gutter-right: sl-shorthand($gutter-value, right);
		$gutter-h: max($gutter-left, $gutter-right);
		$gutter-v: max($gutter-top, $gutter-bottom);

		@each $property in 'margin', 'padding' {

			@include sl-utility('t-' + $property + '-' + $gutter-name) { #{$property}-top: $gutter-top !important; }
			@include sl-utility('b-' + $property + '-' + $gutter-name) { #{$property}-bottom: $gutter-bottom !important; }
			@include sl-utility('l-' + $property + '-' + $gutter-name) { #{$property}-left: $gutter-left !important; }
			@include sl-utility('r-' + $property + '-' + $gutter-name) { #{$property}-right: $gutter-right !important; }

			@include sl-utility('h-' + $property + '-' + $gutter-name) {
				#{$property}-left: $gutter-left !important;
				#{$property}-right: $gutter-right !important;
			}

			@include sl-utility('v-' + $property + '-' + $gutter-name) {
				#{$property}-top: $gutter-top !important;
				#{$property}-bottom: $gutter-bottom !important;
			}

			@include sl-utility($property + '-' + $gutter-name) {
				#{$property}: $gutter-value !important;
			}
		}

		@include sl-utility('h-spacer-' + $gutter-name) {
			> * + * { margin-top: $gutter-h !important; }
		}

		@include sl-utility('v-spacer-' + $gutter-name) {
			> * + * { margin-top: $gutter-v !important; }
		}
	}

	@include sl-utility('t-trim') {
		> :first-child { margin-top: 0 !important; }
	}

	@include sl-utility('b-trim') {
		> :last-child { margin-bottom: 0 !important; }
	}

	@include sl-utility('l-trim') {
		> :first-child { margin-left: 0 !important; }
	}

	@include sl-utility('r-trim') {
		> :last-child { margin-right: 0 !important; }
	}

	@include sl-utility('h-trim') {
		> :first-child { margin-left: 0 !important; }
		> :last-child { margin-right: 0 !important; }
	}

	@include sl-utility('v-trim') {
		> :first-child { margin-top: 0 !important; }
		> :last-child { margin-bottom: 0 !important; }
	}
}
