////
/// Visibility utilities
/// @group core-utilities
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (visibility) are generated.
/// @type Boolean
$sl-generate-visibility: $sl-generate !default;


// Asserts
// -------

@include sl-assert($sl-generate-visibility, 'bool');


// Styles
// ------

@if $sl-generate-visibility {

	@include sl-utility('h-clip') {
		overflow-x: hidden !important;
	}

	@include sl-utility('v-clip') {
		overflow-y: hidden !important;
	}

	@include sl-utility('clip') {
		overflow: hidden !important;
	}

	@include sl-utility('scroll') {
		overflow: auto !important;
	}

	@include sl-utility('hidden') {
		display: none !important;
		visibility: hidden !important;
	}

	@include sl-utility('hidden', 'invisible') {
		position: absolute !important;
		overflow: hidden !important;
		width: 1px !important;
		height: 1px !important;
		margin: -1px !important;
		padding: 0 !important;
		border: 0 !important;
		clip: rect(0 0 0 0) !important;
		pointer-events: none !important;
	}

	@include sl-utility('transparent') {
		visibility: hidden !important;
	}

	@each $breakpoint-name in map-keys($sl-breakpoints) {

		@include sl-breakpoint($breakpoint-name) {

			@include sl-utility('hidden' + sl-prefix('breakpoint') + $breakpoint-name) {
				display: none !important;
				visibility: hidden !important;
				position: absolute !important;
				overflow: hidden !important;
				width: 1px !important;
				height: 1px !important;
				margin: -1px !important;
				padding: 0 !important;
				border: 0 !important;
				clip: rect(0 0 0 0) !important;
				pointer-events: none !important;
			}
		}
	}
}
