////
/// Number-based functions
/// @group core-functions
/// @author Benjamin Fleming
////


// Settings
// --------

/// The number of decimals to round/ceil/floor to
/// @type Number
$sl-number-precision: 5 !default;

/// A map of absolute units and their relative values. Used when converting. Their ratios are related to a normalised
/// absolute value (see -sl-unit-normalize). As an example, "1" (as a normalized absolute unit) is equivalent to "1px".
/// To put it simply, each value in the map should be the equivalent to every other (1px = 0.75pt = 0.0625pc = ...)
/// @type Map
/// @prop {Number} px [1px]
/// @prop {Number} in [0.0104in]
/// @prop {Number} cm [0.0265cm]
/// @prop {Number} mm [0.2646mm]
/// @prop {Number} pt [0.75pt]
/// @prop {Number} pc [0.0625pc]
$sl-number-absolute-units: (
	'px': 1px,
	'in': (1in / 96),
	'cm': (2.54cm / 96),
	'mm': (25.4mm / 96),
	'pt': (72pt / 96),
	'pc': (6pc / 96)
) !default;

/// A map of relative units and their relative values. Used when converting. Their ratios are related to a normalised
/// relative value (see -sl-unit-normalize). As an example, "1" (as a normalized relative unit) is equivalent to "1em".
/// To put it simply, each value in the map should be the equivalent to every other (1em = 100% = 360deg = ...)
/// @type Map
/// @prop {Number}  [1]
/// @prop {Number} % [100%]
/// @prop {Number} em [1em]
/// @prop {Number} rem [1rem]
/// @prop {Number} vw [100vw]
/// @prop {Number} vh [100vh]
/// @prop {Number} vmin [100vmin]
/// @prop {Number} vmax [100vmax]
/// @prop {Number} deg [360deg]
/// @prop {Number} rad [6.2832rad]
/// @prop {Number} grad [400grad]
/// @prop {Number} turn [1turn]
$sl-number-relative-units: (
	'': 1,
	'%': 100%,
	'em': 1em,
	'rem': 1rem,
	'vw': 100vw,
	'vh': 100vh,
	'vmin': 100vmin,
	'vmax': 100vmax,
	'deg': 360deg,
	'rad': 6.2832rad,
	'grad': 400grad,
	'turn': 1turn
) !default;


// Asserts
// -------

@if mixin-exists('sl-assert') {
	@include sl-assert($sl-number-precision, 'number');
	@include sl-assert($sl-number-absolute-units, 'map', 'number');
	@include sl-assert($sl-number-relative-units, 'map', 'number');
}


// Private
// -------

/// Checks if a unit is absolute.
/// @require {variable} sl-number-absolute-units
/// @param {Number | String} $value - The number or unit (as a string) to check.
/// @return {Boolean}
@function -sl-absolute-unit($value) {
	@return map-has-key($sl-number-absolute-units,
		if(type-of($value) == 'number', unit($value), $value)
	);
}

/// Checks if a unit is relative.
/// @require {variable} sl-number-relative-units
/// @param {Number | String} $value - The number or unit (as a string) to check.
/// @return {Boolean}
@function -sl-relative-unit($value) {
	@return map-has-key($sl-number-relative-units,
		if(type-of($value) == 'number', unit($value), $value)
	);
}

/// Converts a number into a normalized value. Used for conversion.
/// @require {variable} sl-number-absolute-units
/// @require {variable} sl-number-relative-units
/// @require {function} -sl-absolute-unit
/// @require {function} -sl-relative-unit
/// @param {Number} $value - The number to normalize
/// @return {Number} The normalized number
/// @example scss
///   -sl-unit-normalize(1.5pt) // Outputs 2
@function -sl-unit-normalize($value) {
	$unit: unit($value);

	@if -sl-absolute-unit($unit) {
		@return ($value / map-get($sl-number-absolute-units, $unit));
	}

	@if -sl-relative-unit($unit) {
		@return ($value / map-get($sl-number-relative-units, $unit));
	}

	@return ($value / ($value * 0 + 1));
}

/// Strips the unit from a value.
/// Using this is generally considered bad practice, however there are issues when comparing zero based values that
/// have units. For example, 0px does not equal 0. So to check if a value with an unknown unit is at zero, the only
/// way to do that is to strip the unit and compare it. The normalize function above could also be used but the end
/// result is the same, so why bother performing an unnecessary a map look up and operations?
/// @param {Number} $value - The value to strip the unit from.
/// @return {Number} The value without it's unit.
@function -sl-strip-unit($value) {
	@return $value / ($value * 0 + 1);
}


// Public
// ------

/// Gets the unit type
/// @require {function} -sl-relative-unit
/// @require {function} -sl-absolute-unit
/// @param {Number | String} $value - The number or unit (as a string) to check.
/// @return {String} absolute, relative or other
@function sl-unit-type($value) {

	@if -sl-relative-unit($value) {
		@return 'relative';
	}

	@if -sl-absolute-unit($value) {
		@return 'absolute';
	}

	@return 'other';
}

/// Round a number to specified number of decimal places
/// @require {variable} sl-number-precision
/// @param {Number} $value - The number to round
/// @param {Number} $decimals [$sl-number-precision] - The number of decimals to round to
/// @param {String} $type [round] - [round | ceil | floor] The rounding type
/// @return {Number} The rounded number
@function sl-precision($value, $decimals: $sl-number-precision, $type: round) {
	$n: 1;

	@if type-of($value) != number {
		@error '#{$value} is not a number.';
	}

	@if type-of($decimals) != number or $decimals < 0 {
		@error '#{$decimals} is not a non-negative number.';
	}

	@for $i from 1 through $decimals {
		$n: $n * 10;
	}

	@if $type == round {
		@return round($value * $n) / $n;
	} @elseif $type == ceil {
		@return ceil($value * $n) / $n;
	} @elseif $type == floor {
		@return floor($value * $n) / $n;
	}

	@error '#{$type} is not a valid type';
}

/// Convert a number to another unit.
/// TODO Only convert REM units to the base font size factor
/// @require {variable} sl-font-size
/// @require {variable} sl-number-absolute-units
/// @require {variable} sl-number-relative-units
/// @require {variable} -sl-default-font-size
/// @require {function} sl-precision
/// @require {function} -sl-absolute-unit
/// @require {function} -sl-relative-unit
/// @require {function} -sl-unit-normalize
/// @param {Number | List | Map} $value - The number (or list or map of numbers) to convert
/// @param {String} $unit - The unit to convert the number to
/// @param {Number} $factor [null] - The number to convert against (when converting between absolute and relative values)
///   This is defaulted to the global font size set in the settings file.
/// @return {Number | List | Map} The converted number (or list or map of numbers)
/// @example scss
///   sl-convert(0.5em, '%') // Outputs 50%
///   sl-convert(32px, em, 16px) // Outputs 2em
@function sl-convert($value, $unit, $factor: null) {
	$type: type-of($value);

	@if $type == 'list' {
		$output: ();

		@each $item in $value {
			$new-item: sl-convert($item, $unit, $factor);
			$output: append($output, $new-item);
		}

		@return $output;
	}

	@if $type == 'map' {
		$output: ();

		@each $key, $item in $value {
			$new-item: sl-convert($item, $unit, $factor);
			$output: map-merge($output, ($key: $new-item));
		}

		@return $output;
	}

	@if $type != 'number' {
		@error '#{inspect($value)} is not a valid type';
	}

	@if $unit == 'decimal' {
		$unit: '';
	}

	$normal: -sl-unit-normalize($value);
	$output: $normal;

	@if -sl-absolute-unit($value) {

		@if -sl-absolute-unit($unit) {

			$output: $normal * map-get($sl-number-absolute-units, $unit);

		} @elseif -sl-relative-unit($unit) {

			$convert-factor: -sl-unit-normalize($sl-font-size)
				* if( -sl-relative-unit($sl-font-size), ($-sl-default-font-size / 1px), 1 );

			$normal-factor: if( type-of($factor) == 'number',
				-sl-unit-normalize( sl-convert($factor, px, $convert-factor * 1px) ),
				$convert-factor
			);

			$output: ($normal / $normal-factor) * map-get($sl-number-relative-units, $unit);

		} @else {
			@error '#{inspect($unit)} is not a valid unit';
		}

	} @elseif -sl-relative-unit($value) {

		@if -sl-absolute-unit($unit) {

			$convert-factor: -sl-unit-normalize($sl-font-size)
				* if( -sl-relative-unit($sl-font-size), ($-sl-default-font-size / 1px), 1 );

			$normal-factor: if( type-of($factor) == 'number',
				-sl-unit-normalize( sl-convert($factor, px, $convert-factor * 1px) ),
				$convert-factor
			);

			$output: ($normal * $normal-factor) * map-get($sl-number-absolute-units, $unit);

		} @elseif -sl-relative-unit($unit) {

			$output: $normal * map-get($sl-number-relative-units, $unit);

		} @else {
			@error '#{inspect($unit)} is not a valid unit';
		}

	} @else {
		@error '#{inspect($value)} does not have a valid unit';
	}

	@return sl-precision($output);
}

///
/// @require {function} -sl-unit-normalize
/// @require {function} sl-unit-type
/// @param {Number} $value
/// @param {Number} $postfactor
/// @param {Number} $prefactor
/// @return {Number}
@function sl-refactor($value, $postfactor: 1em, $prefactor: 1em) {
	$scale: 1;

	$post-type: sl-unit-type($postfactor);
	$post-normalized: -sl-unit-normalize($postfactor);
	$pre-type: sl-unit-type($prefactor);
	$pre-normalized: -sl-unit-normalize($prefactor);

	@if $post-type == $pre-type {
		$scale: ($pre-normalized / $post-normalized);

	} @else {
		$base: -sl-unit-normalize($-sl-default-font-size);

		@if $post-type == 'absolute' {
			$scale: ($pre-normalized / ($post-normalized / $base));

		} @else if $pre-type == 'absolute' {
			$scale: (($pre-normalized / $base) / $post-normalized);
		}
	}

	@return $value * $scale;
}

/// Sum a list of values, either converting them all to a single unit or outputting them as a CSS3 calc() value.
/// @require {function} sl-flatten
/// @require {function} sl-convert
/// @param {Number | String | Map} $format
/// @param {Number} $values
/// @return {Number | String}
/// @example scss
///   sl-sum(2px, 5px, -1px) // Outputs 6px
///   sl-sum(10px, -2em, 50%) // Outputs calc(10px - 2em + 50%)
///   sl-sum('em', 8px, 1em, 50%) // Outputs 2em (given that $sl-font-size is 16px)
///   sl-sum(('%': 8px), 16px, 24px, 1.5em) // Outputs 650%
@function sl-sum($format: 'calc', $values...) {
	$values: sl-flatten($values);
	$factor: null;
	$format-type: type-of($format);

	@if $format-type == 'number' {
		$values: join($format, $values);
		$format: 'calc';
		$format-type: 'string';
	}

	@if length($values) < 1 {
		@error 'No numbers were passed';
	}

	//
	// Determine the format and/or conversion factor
	//

	@if $format-type == 'map' {

		@if length($format) < 1 {
			@error '#{inspect($format)} is an invalid format';
		}

		$format-pair: nth($format, 1);
		$format: nth($format-pair, 1);
		$factor: nth($format-pair, 2);

	} @elseif $format-type != 'string' {
		@error '#{inspect($format)} is an invalid format';
	}

	//
	// Sum all same-unit values
	//

	$sums: ();

	@each $item in $values {

		@if type-of($item) != 'number' {
			@error '#{inspect($item)} is not a number';
		}

		$unit: unit($item);
		$sum: $item;

		@if -sl-strip-unit($item) != 0 {

			@if map-has-key($sums, $unit) {
				$sum: $sum + map-get($sums, $unit);
			}

			$sums: map-merge($sums, ($unit: $sum) );
		}
	}

	//
	// Generate output
	//

	@if index('calc' '-webkit-calc' '-moz-calc', $format) {
		$sums-length: length($sums);

		@if $sums-length > 1 {
			$numbers: '';
			$first: true;
			$single: true;

			@each $unit, $value in $sums {
				$stripped-value: -sl-strip-unit($value);

				@if $stripped-value != 0 {

					@if not $first {
						$single: false;

						@if $stripped-value < 0 {
							$value: $value * -1;
							$numbers: $numbers + ' - ';

						} @else if $stripped-value > 0 {
							$numbers: $numbers + ' + ';
						}

					} @else {
						$first: false;
					}

					$numbers: $numbers + $value;
				}
			}

			@return unquote(if($single, $numbers, $format + '(' + $numbers + ')'));

		} @else {

			@return if($sums-length > 0, nth( nth($sums, 1), 2), 0);
		}

	} @else {
		$sum: 0;

		@each $unit, $value in $sums {
			$sum: $sum + sl-convert($value, $format, $factor);
		}

		@return $sum;
	}
}
