////
/// Text Columns
/// @group theme-modules
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (text-columns) are generated.
/// @type Boolean
$sl-generate-text-columns: $sl-generate !default;

/// The text columns module selector
/// @type String
$sl-text-columns-selector: sl-module('text-columns') !default;

/// The highest number of columns allowed
/// @type Number
$sl-text-columns: 6 !default;


// Asserts
// -------

@include sl-assert($sl-generate-text-columns, 'bool');
@include sl-assert($sl-text-columns-selector, 'string');
@include sl-assert($sl-text-columns, 'number');


// Styles
// ------

@if $sl-generate-text-columns {

	#{$sl-text-columns-selector} {
		// Add a default, non-zero gap for consistency
		-moz-column-gap: 1em;
		-webkit-column-gap: 1em;
		column-gap: 1em;

		@each $breakpoint-name, $breakpoint-value in $sl-breakpoints {

			@include sl-from($breakpoint-value) {

				@for $i from 1 through $sl-text-columns {

					&#{sl-prefix('breakpoint') + $breakpoint-name + '-' + $i} {
						-moz-column-count: $i;
						-webkit-column-count: $i;
						column-count: $i;
					}
				}
			}
		}

		@each $gap-name, $gap-value in $sl-gutters {

			@include sl-parameter('gap-' + $gap-name) {
				-moz-column-gap: $gap-value;
				-webkit-column-gap: $gap-value;
				column-gap: $gap-value;
			}
		}
	}
}
