////
/// Base styles
/// @group extra
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (base) are generated.
/// @type Boolean
$sl-generate-base-extra: $sl-generate-base !default;


// Asserts
// -------

@include sl-assert($sl-generate-base-extra, 'bool');


// Styles
// ------

@if $sl-generate-base-extra {

	html,
	button,
	input,
	select,
	textarea {
		/// Fix legibility for custom fonts
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body {
		/// For good measure - sometimes things like negative margins can trigger horizontal scrolling
		overflow-x: hidden;
	}
}
