////
/// Columns
/// @group core-structures
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (columns) are generated.
/// @type Boolean
$sl-generate-columns: $sl-generate !default;

/// The columns module selector
/// @type String
$sl-columns-selector: sl-module('columns') !default;

/// The column module selector
/// @type String
$sl-column-selector: sl-module('column') !default;


// Asserts
// -------

@include sl-assert($sl-generate-columns, 'bool');
@include sl-assert($sl-columns-selector, 'string');
@include sl-assert($sl-column-selector, 'string');


// Styles
// ------

@if $sl-generate-columns {

	#{$sl-columns-selector} {
		@extend %sl-structure;

		> #{$sl-column-selector} {
			width: 100%;
		}

		@each $breakpoint-name, $breakpoint-value in sl-sort($sl-breakpoints) {

			@include sl-from($breakpoint-value) {

				> #{$sl-column-selector} {

					@each $division-name, $division-value in $sl-divisions {

						&.#{sl-prefix('breakpoint') + $breakpoint-name + '-' + $division-name} {
							width: $division-value;
						}
					}
				}
			}
		}
	}
}
