////
/// Ratio box
/// @group core-structures
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (ratiobox) are generated.
/// @type Boolean
$sl-generate-ratiobox: $sl-generate !default;

/// The ratiobox module selector
/// @type String
$sl-ratiobox-selector: sl-module('ratiobox') !default;

/// The ratiobox box module selector
/// @type String
$sl-ratiobox-box-selector: sl-module('box') !default;

/// A list of ratios
/// @type List
$sl-ratiobox-ratios: (1, 1) (5, 4) (4, 3) (3, 2) (16, 10) (5, 3) (16, 9) (1.85, 1) (2, 1) (2.39, 1) !default;

/// Whether or not the inversions of each ratio should be made a parameter
/// @type Boolean
$sl-ratiobox-invert: true !default;


// Asserts
// -------

@include sl-assert($sl-generate-ratiobox, 'bool');
@include sl-assert($sl-ratiobox-selector, 'string');
@include sl-assert($sl-ratiobox-box-selector, 'string');
@include sl-assert($sl-ratiobox-ratios, 'list', 'list', 'number');
@include sl-assert($sl-ratiobox-invert, 'bool');


// Mixins
// ------

///
/// @param {Number} $x [1]
/// @param {Number} $y [1]
/// @param {String | Boolean} $pseudo [before]
/// @output
@mixin sl-ratiobox($x: 1, $y: 1, $pseudo: before) {

	@each $n in $x, $y {
		@if type-of($n) != 'number' or not unitless($n) or $n <= 0 {
			@error '#{inspect($n)} is not a positive decimal greater than zero';
		}
	}

	display: block;
	position: relative;

	@if $pseudo == 'before' or $pseudo == 'after' {
		&:#{unquote($pseudo)} {
			content: '';
			display: block;
			padding: ($y / $x * 100%) 0 0 100%;
		}

	} @else {
		padding: ($y / $x * 100%) 0 0 100%;
	}
}

///
/// @output
@mixin sl-ratiobox-box {
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	// Use width and height instead of right and bottom as they don't work for elements like iframes.
	width: 100%;
	height: 100%;
}


// Styles
// ------

@if $sl-generate-ratiobox {

	#{$sl-ratiobox-selector} {
		@include sl-ratiobox;

		> #{$sl-ratiobox-box-selector} {
			@include sl-ratiobox-box;
		}

		@each $ratio in $sl-ratiobox-ratios {

			@if type-of($ratio) != 'list' or length($ratio) != 2 {
				@error '#{inspect($ratio)} is not a list of size two';
			}

			$x: nth($ratio, 1);
			$y: nth($ratio, 2);

			@each $n in $x, $y {
				@if type-of($n) != 'number' or not unitless($n) or $n <= 0 {
					@error '#{inspect($n)} is not a positive decimal greater than zero';
				}
			}

			@include sl-parameter('ratio-' + sl-str-replace($x + '-' + $y, '.', '_') ) {

				&:before {
					padding-top: ($y / $x * 100%);
				}
			}

			@if $sl-ratiobox-invert {

				@include sl-parameter('ratio-' + sl-str-replace($y + '-' + $x, '.', '_') ) {

					&:before {
						padding-top: ($x / $y * 100%);
					}
				}
			}
		}
	}
}
