////
/// Style utilities
/// @group theme-utilities
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (style) are generated.
/// @type Boolean
$sl-generate-style: $sl-generate !default;


// Asserts
// -------

@include sl-assert($sl-generate-style, 'bool');


// Styles
// ------

@if $sl-generate-style {

	@each $color-name, $color-value in $sl-colors {

		@if type-of($color-name) == 'string' {

			@include sl-utility('color-' + $color-name) {
				color: sl-color($color-value) !important;
			}

			@include sl-utility('background-' + $color-name) {
				background-color: sl-color($color-value) !important;
			}
		}
	}
}
