////
/// Field
/// @group core-components
/// @author Benjamin Fleming
////


// Mixins
// ------

/// A mixin for styling input, select and textarea elements
/// @require {mixin} sl-textbox
/// @require {mixin} sl-extend-tags
/// @param {Number} $font-size [1em]
/// @param {Number | List} $padding [0]
/// @param {Number | List} $border-width [0]
/// @param {Number} $line-height [1]
/// @output
@mixin sl-field(
	$font-size: 1em,
	$padding: 0,
	$border-width: 0,
	$line-height: 1
) {
	@extend %sl-field !optional;

	box-sizing: border-box; // Fix for input[type="search"] elements as they force content-box sizing
	display: block;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	@include sl-textbox(
		$font-size,
		$padding,
		$border-width,
		$line-height,
		false
	);

	@include sl-extend-tags(input) {
		line-height: normal;
	}
	
	// Ensures text doesn't get vertically clipped in select tags
	@include sl-extend-tags(select) {
		$t-padding: sl-shorthand($padding, 'top');
		$b-padding: sl-shorthand($padding, 'bottom');
		$l-padding: sl-shorthand($padding, 'left');
		$r-padding: sl-shorthand($padding, 'right');

		$min-v-padding: min($t-padding, $b-padding);

		@if $t-padding > $b-padding {
			$t-padding: $t-padding - $b-padding;
			$b-padding: 0;
		} @else {
			$b-padding: $b-padding - $t-padding;
			$t-padding: 0;
		}

		line-height: sl-sum($min-v-padding * 2, 1em);
		padding: $t-padding $r-padding $b-padding $l-padding;
	}

	@include sl-extend-tags(textarea) {
		overflow: auto;
		white-space: normal;
		height: auto;

		@include sl-textbox(
			$font-size,
			$padding,
			$border-width,
			$line-height,
			true
		);
	}
}
